@page "/apppassword"

@using BlazorServer.Data
@using BlazorServer.Entity
@using BlazorServer.Service
@using BlazorServer.Models

@inject BrowserService browserService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IJSRuntime jsRuntime
@inject LoginService loginService
@inject NavigationManager NavManager

<div class="col-auto">
    <label for="staticEmail2" class="visually-hidden">Username</label>
    <input type="text" class="form-control" @bind="@username" placeholder="Username">
</div>
<div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Password</label>
    <input type="password" class="form-control" @bind="@password" placeholder="Password">
</div>
<div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3" @onclick="AddAppPass">Add</button>
</div>

@code {
    private string username;
    private string password;
    private string message;
    private string token;
    public UserEntity user;
    private Guid? userId;

    [Parameter]
    public BrowserEntity browser { get; set; }

    public async Task AddAppPass()
    {
        userId = await localStorage.GetItemAsync<Guid?>("token");

        if (userId == null)
            await jsRuntime.InvokeVoidAsync("alert", "not found");
        else
        {
            browserService.AddNewAppPass(new AppPasswordEntity
            {
                BrowserId = browser.Id,
                Name = browser.Name,
                Password = password,
                Username = username,
                UserId = (Guid)userId,
            });
        }
    }
}
